<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NFL Teams</title>
  </head>

  <body>
    <h1>NFL Scoreboard</h1>

    <ol>
      <% @sorted_scorecard.each do |team_info| %>
        <li><a href="/teams/<%="#{team_info[0]}"%>"><%="#{team_info[0]}"%></a> - wins: <%="#{team_info[1][:wins]}"%>, losses: <%="#{team_info[1][:losses]}"%>, ties: <%="#{team_info[1][:ties]}"%></li>
      <% end %>
    </ol>

  </body>
</html>
